<h1 class="text-center">Recipes by Type</h1>
  <div class="container">
    <div class="row">
      <% @kinds.each do |kind| %>
        <div class="col-md-3 mb-3">
        <div class="card">
            <div class="card-header">
              <%= link_to kind.name, kind_path(kind), style:"font-size: 3rem" %>
            </div>
        </div>
    </div>
    <% end %>
    
</div>
</div>
<br>