<div class="text-center">
    <h1>Create a new recipe!</h1>
    <%= render 'form' %>
    <br>
    [<%= link_to 'Cancel and go back to the Recipe Listings', recipes_path, class: "text-secondary" %>]
</div>


