<div class="container">
  <div class="center text-orange" >
    <div class="p-5 rounded-lg m-5" id="home-container">
      <div>
        <h1 class="display-4 text-center mt-50">Welcome to the Seasonal Plate</h1>
        <h2 class="lead text text-center">Find recipes using fresh ingredients by season</h2>
        <hr class="my-4">
        <div class="text-center">
        <a class="btn btn-success btn-lg text-center">Sign Up</a>
    </div>
    </div>
    </div>
  </div>
</div>