@import "bootstrap/dist/css/bootstrap";

.navbar {
    background-color: orange;
}

#home-container {
    background-image: asset-url('kitchen.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

#about-container {
    background-image: asset-url('utensils.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#form-container{
    background-color: rgb(255, 201, 101);
    padding-bottom: 2%;
    padding-top: 2%;
    padding: 2%;
}
/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 0 0 auto;
  background-color: lightgrey;
}

/* Other Classes for Page Styling */

body {
  background: lightgray;
  background: lightgrey;
}