<h1 class="text-center">Recipes by Season</h1>
  <div class="container">
    <div class="row">
      <% @categories.each do |category| %>
        <div class="col-md-3 mb-3">
        <div class="card">
           <%= image_tag category.image_path, class: "card-img-top" %>
            <div class="card-header">
              <%= link_to category.name, category_path(category), class:"text-secondary", style:"font-size: 2rem" %>
            </div>
        </div>
    </div>
    <% end %>
    
</div>
</div>
<br>