<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
      <span class="text-white"><small>Copyright &copy; <%= link_to "Hannah Hammonds", "https://triple-h-portfolio.herokuapp.com/", class: "text-white" %> </small></span>
    </div>
</footer>